.icon::before {
	content: "";
	display: inline-block;
	position: relative;
	top: .15rem;
	left: 0;
	width: 1em;
	height: 1em;
	background-color: currentColor;
	-webkit-mask-position: 50% 50%;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: cover;
	mask-position: 50% 50%;
	mask-repeat: no-repeat;
	mask-size: cover;
}


.icon-attack {
	&::before {
		mask-image: url("data:image/svg+xml,%3Csvg height='473' viewBox='0 0 473 473' width='473' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m457.96 147.98.04-131.96-131.99-.016-211.19 211.2-26.41-26.414-26.399 26.398 52.793 52.81-88.406 88.41c-21.855 21.874-21.855 57.343-.023 79.183 21.875 21.875 57.348 21.875 79.207 0l88.414-88.406 52.809 52.81 26.398-26.396-26.414-26.414zm-378.78 273.21c-7.273 7.293-19.125 7.293-26.398 0-7.293-7.273-7.293-19.125 0-26.398l22.422-22.422 26.398 26.398zm48.812-48.816-26.395-26.395 39.594-39.594 26.395 26.395zm65.992-65.992 158.41-158.39-26.395-26.395-158.41 158.39-26.395-26.414 200.26-200.25 79.207.023v79.168l-200.29 200.25z'/%3E%3C/svg%3E");
	}
}

.icon-heal {
	&::before {
		mask-image: url("data:image/svg+xml,%3Csvg width='422' height='422' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M371.55 335.45L265.5 114.6V56.498H283a17.498 17.498 0 0 0 15.156-26.25A17.499 17.499 0 0 0 283 21.498H143a17.498 17.498 0 0 0-15.156 26.25A17.499 17.499 0 0 0 143 56.498h17.5V114.6l-105 218.75v2.102-.004a52.503 52.503 0 0 0 7.7 47.074 59.692 59.692 0 0 0 47.425 23.98h204.75a59.693 59.693 0 0 0 48.477-23.98 52.504 52.504 0 0 0 7.7-47.074l-.002.002zM195.5 122.48V56.503h35v65.977L283 231.5H143l52.5-109.02zm140 239.4a25.197 25.197 0 0 1-20.301 9.625h-204.57a25.2 25.2 0 0 1-20.125-9.625 17.51 17.51 0 0 1-2.8-14.699l37.8-80.676h175l38.676 80.676a17.493 17.493 0 0 1-3.676 14.699h-.004z'/%3E%3C/svg%3E");
	}
}

.icon-defend {
	&::before {
		mask-image: url("data:image/svg+xml,%3Csvg height='543' viewBox='0 0 543 543' width='543' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m271.983 121.493c18.597 4.588 37.445 9.296 55.715 13.876l.816.204c17.55 4.396 35.518 8.896 53.502 13.328-.042 13.32-.02 26.61.005 39.608v4.99l-.015 17.817c0 6.773-.07 13.555-.14 20.348l-.008.928c-.142 15.404-.28 31.286.33 47.113 1.129 29.33-9.798 54.914-32.368 78.577-20.65 21.636-46.243 39.38-77.81 54.238-37.25-17.702-64.893-37.932-85.995-63.53-16.627-20.205-24.64-42.365-24.278-67.876.626-44.014.397-88.684.173-131.946l-.001-.278 2.854-.701c15.965-3.933 31.912-7.913 47.567-11.83l5.207-1.304c17.876-4.481 36.282-9.095 54.446-13.562z' stroke='%23000' stroke-width='41'/%3E%3Cpath d='m486.7 277.381c-.352-9.24-.454-18.71-.446-28.144h.345l-.015-70.588c-.041-23.097-.075-46.988.161-70.304.319-28.488-15.906-49.472-43.402-56.136-26.785-6.49-54.097-13.32-80.51-19.925l-11.77-2.945c-19.976-5.004-40.627-10.174-60.962-15.169-11.684-2.878-24.457-2.897-35.944-.067-22.35 5.482-44.592 11.047-65.299 16.24-25.634 6.422-57.544 14.404-87.93 21.74-27.502 6.633-43.839 27.828-43.711 56.706l.126 25.121c.252 48.337.521 98.324-.183 147.265-.704 50.294 15.46 95.847 48.045 135.408 35.159 42.658 80.761 75.317 143.534 102.794 6.935 3.024 14.86 4.62 22.917 4.62 8.278 0 16.563-1.679 23.962-4.86 52.98-22.804 95.375-51.335 129.634-87.21 42.968-45.036 63.641-97.038 61.45-154.545zm-95.223 125.275c-31.128 32.627-70.267 59.129-119.517 80.887-57.946-26.053-99.763-56.12-131.283-94.34-25.694-31.173-37.903-65.414-37.344-104.702.823-58.429.513-117.704.214-175.022l-.083-16.324c30.538-7.426 61.298-15.122 91.15-22.6 24.898-6.232 50.634-12.68 75.994-18.896.581-.145 2.048-.188 3.104.077 25.12 6.18 50.666 12.577 75.377 18.765 29.888 7.486 60.683 15.203 91.374 22.692-.172 23.707-.138 47.567-.096 70.745v1.32l-.015 28.927c0 8.926-.085 17.852-.173 26.784-.199 19.917-.394 40.509.38 61.085 1.706 44.757-14.342 84.205-49.08 120.604z' fill='%23000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
	}
}

.icon-nothing {
	&::before {
		mask-image: url("data:image/svg+xml,%3Csvg width='527' height='527' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M438 337c38.676 0 70-31.324 70-70s-31.324-70-70-70-70 31.324-70 70 31.324 70 70 70zm-350 0c38.676 0 70-31.324 70-70s-31.324-70-70-70-70 31.324-70 70 31.324 70 70 70zm175 0c38.676 0 70-31.324 70-70s-31.324-70-70-70-70 31.324-70 70 31.324 70 70 70z'/%3E%3C/svg%3E");
	}
}

